.Part1 {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    padding: 60px 0;
    color: white;
}

.Herman {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0;
}

section {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, li {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    }
}
